@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #7aebfb;
  filter: blur(190px);
}

@layer components{
  .special-btn{
    @apply bg-gradient-to-r from-purple-500
           to-blue-500 hover:from-purple-600 hover:to-blue-600
           focus:outline-none focus:ring focus:ring-purple-300
           active:bg-blue-700 px-4 py-2 rounded-lg
           shadow-md transition duration-300 ease-in-out transform 
           hover:scale-105 text-[13px]
  }
}